﻿@model WebApplication1.Models.Person

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-bind="value: firstName" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-bind="value: lastName" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-bind="value: Age" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select data-bind="options: availableGenders,value:Gender"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-bind="value: Description" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-bind="click: create">Create</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var viewModel = {
            // These are the initial options
            firstName : ko.observable(""),
            lastName : ko.observable(""),
            Age: ko.observable(""),
            Gender:ko.observable(""),
            Description : ko.observable(""),
            availableGenders: ko.observableArray(['Male', 'Female']),
            create: function () {
                console.log(viewModel.Gender())
                var submitData = {
                    firstName: viewModel.firstName(),
                    lastName: viewModel.lastName(),
                    Age: viewModel.Age(),
                    Description: viewModel.Description(),
                    Gender: viewModel.Gender()
                };
                postUrl="/People/Create"
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: postUrl,
                    data: JSON.stringify(submitData)
                }).done(function () {
                    window.location.href = "/People";
                    })
            }

        };
        $(document).ready(function () {
                ko.applyBindings(viewModel);
        });
    </script>
}
