﻿@model IEnumerable<WebApplication1.Models.Person>

@{
    ViewBag.Title = "People";
}


<h2>Index</h2>

<p>

    @Html.ActionLink("Create New", "Create")
    <input type="text" id="search" value="Search" />
</p>

<table id="table" class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>
    <tbody data-bind="foreach: lookupCollection">
        <tr>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Age"></td>
            <td data-bind="text: Gender"></td>
            <td data-bind="text: Description"></td>
            <td><button data-bind="click: $parent.delete">delete</button></td>
            <td><button data-bind="click: $parent.edit">Edit</button></td>
        </tr>

    </tbody>

</table>
@section Scripts
{
    <script>

        var Data;
        var viewModel = {
            lookupCollection: ko.observableArray(),

            delete: function (data) {

                if (confirm("Are you sure you want to delete " + data.FirstName + " " + data.LastName)) {
                    $.ajax({
                        type: "POST",
                        url: "/People/DELETE/" + data.ID,
                    }).done(function () {
                        viewModel.lookupCollection.remove(data)
                    })
                }
                else {
                    console.log("no")
                }
            },
            edit: function (data) {
                window.location.href = "/People/Edit/"+data.ID;
            }
        };



        $("#search").on('keyup', function () {
            //  $("#table > tbody").append("<tr><td>row content</td></tr>");
            console.log($("#search").val())
            $.ajax({
                type: "GET",
                url: "/People/GetIndex?searchString=" + $("#search").val(),
            }).done(function (data) {
                viewModel.lookupCollection.removeAll();
                $(data).each(function (index, element) {
                    viewModel.lookupCollection.push(element);

                });

                console.log(viewModel.lookupCollection.length)

            })
        });



        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/People/GetIndex",
            }).done(function (data) {
                $(data).each(function (index, element) {
                    viewModel.lookupCollection.push(element);

                });
                ko.applyBindings(viewModel);
            })


        });

    </script>
}
