﻿@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "Movie";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>



<div id="KendoGrid"></div>

@section Scripts
{
    <script>
        var Data;
        viewModel = {
            lookupCollection: ko.observableArray()
        };
        $(function () {

            $("#kendoVersion").text(kendo.version);
            $("#KendoGrid").kendoGrid({
                columns: [
                    { field: "Year" },
                    { field: "Name" }, { field: "Actors" }, {
                        command: [
                            {
                                name: "Delete",
                                click: function (e) {
                                    e.preventDefault();
                                    // e.target is the DOM element representing the button
                                    var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                    // get the data bound to the current table row
                                    var data = this.dataItem(tr);
                                    console.log(data.ID);
                                    if (confirm("Are you sure you want to delete " + data.Name)) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/Movies/DELETE/" + data.ID,
                                        }).done(function () {
                                            var grid = $("#KendoGrid").data("kendoGrid");
                                            grid.removeRow(tr);
                                        })
                                    }
                                    else {
                                        console.log("no")
                                    }
                                }
                            }

                           
                        ]
                    }
                    , {
                        command: [
                            {
                                name: "Edit",
                                click: function (e) {
                                    e.preventDefault();
                                    // e.target is the DOM element representing the button
                                    var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                    // get the data bound to the current table row
                                    var data = this.dataItem(tr);
                                    console.log(data.ID);
                                    window.location.href = "/Movies/Edit/" + data.ID;
                                }
                            }


                        ]


                    }],
                dataSource: remoteDataSource,
                pageable: true,
                sortable: true,
                filterable: true

            });
        });
        var remoteDataSource = new kendo.data.DataSource({
            type: "jsoup",
            transport: {
                read: "/Movies/GetIndex"
            },
            pageSize: 20
        });
       
        
    </script>
}
